:root {
  --main-bg: #fff;
  --light-bg: #eee;
  --secondary-bg: #f6f8fa;
  --tertiary-bg: #eee;
  --tab-bg: #ddd;
  --text-primary: #000;
  --text-secondary: #111;
  --text-tertiary: #222;
  --neutral-color: #555;
  --tab-highlight-off: rgba(57,123,255,0);
  --tab-highlight-on: rgba(57,123,255,1);
  --inset-light: #333;
  --inset-body: #222;
  --inset-dark: #111;
  --light-blue: #33a2e6;
  --stop-red: red;
}
nav.bg-dark {
	background-color: #1f242a !important;
	color: #fff;
}
nav a.nav-link {
	color: #ddd !important;
}
nav a.nav-link.dropdown-toggle.show {
	color: #333 !important;
}
nav .dropdown-item:hover {
	background-color: rgb(57,123,255);
	color: #f8f9fa;
}
svg>use[href="#icon-text"] {
	color: #333;
}
