:root {
  --main-bg: #1f1f1f;
  --light-bg: #212529;
  --secondary-bg: #22303f;
  --tertiary-bg: #3f3f3f;
  --tab-bg: #2f2f2f;
  --text-primary: #fff;
  --text-secondary: #ddd;
  --text-tertiary: #aaa;
  --neutral-color: #555;
  --tab-highlight-off: rgba(255,255,255,0);
  --tab-highlight-on: rgba(255,255,255,1);
  --inset-light: #333;
  --inset-body: #222;
  --inset-dark: #111;
  --light-blue: #33a2e6;
  --stop-red: red;
}
